<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../templates/styles/styles_footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <title>Footer</title>
    </head>
<body>
    <div class="footer-page bg-primary">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Página</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Fale Conosco</a></li>
                            <li><a href="#">Sobre-nós</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Compras</h3>
                        <ul>
                            <li><a href="#">Carrinho</a></li>
                            <li><a href="#">Favoritos</a></li>
                            <li><a href="#">Lista de Produtos</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Nome da Empresa</h3>
                        <p>Quando criamos a empresa pensamos em criar um serviço para as pessoas que estão com problemas de achar livros de ensino médio com o preço acessível, e também livros de vestibulares.
                            Para pessoas que querem passar em faculdades, e virarem UNIversitários. E juntamos UNI + BOOK (Livro)
                        </p>
                    </div>
                    <div class="col item social"><a href="#"><i class="bi bi-facebook"></i></a><a href="#"><i class="bi bi-twitter"></i></a><a href="#"><i class="bi bi-github"></i></a><a href="#"><i class="bi bi-instagram"></i></a></div>
                </div>
                <p class="copyright">UniBook © 2022</p>
            </div>
        </footer>
    </div>
</body>
</html>