:root {
  --bluebook: rgba(22, 43, 173, 1) !important;
  --bluelightbook: rgba(63, 82, 202, 1) !important;
  --skylightbook: rgba(111, 128, 233, 1) !important;
  --orangebook: rgba(251, 133, 0, 1) !important;
  --orangelightbook: rgba(255, 160, 53, 1) !important;
  --whiteorangelightbook: rgba(255, 183, 102, 1) !important;
  --yellowbook: rgba(251,220,0,1) !important;
  --yellowlightbook: rgba(255,236,102) !important;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.bg-blue {
  background-color: var(--bluebook) !important;
}

.bg-bluelight {
  background-color: var(--bluelightbook) !important;
}

.bg-yellow{
  background-color: var(--yellowbook);
}

.hover-yellow:hover{
  background-color: var(--yellowlightbook) !important;
  transition: all 0.5s ease;
}

.bg-orange {
  background-color: var(--orangebook);
}

.bg-orangelightbook{
  background-color: var(--orangelightbook);
}

.border-blue {
  border-color: var(--bluelightbook) !important;
}

.color-blue {
  color: var(--bluelightbook) !important;
}

.border-orange {
  border-color: var(--orangebook) !important;
}

.color-orange {
  color: var(--orangebook) !important;
}

.hover-orange:hover{
  background-color: var(--orangelightbook) !important;
  transition: all 0.5s ease;
}

.hover-lightorange:hover{
  background-color: var(--whiteorangelightbook) !important;
  transition: all 0.5s ease;
}

.cursor-pointer{
  cursor: pointer;
}

.bg-lightgray{
  background-color: lightgray;
}