@import url(./color.css);

.container-perfil{
    height: 90vh;
}

.div-perfil{
    height: 70vh;
}

.div-perfil .perfil{
    height: 50vh;
}

@media (max-width: 991.98px) {
    .container-perfil{
      height: auto;
    }

    .div-perfil{
        height: auto;
    }
  }

button:hover{
    background-color: var(--orangelightbook) !important;
    transition: all 0.5s ease;
}