@import url(./color.css);

.bg-image{
    background-image: url("./login-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.bg-height{
    height: 100vh;
}

@media (max-width: 991.98px) {
    .image-not-found{
        width: 90%;
    }
  }
