@import url(./color.css);

.bg-image {
  background-image: url("../images/login-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-entrar:hover {
  background-color: var(--orangelightbook) !important;
  transition: all 0.5s ease;
}

.p-password-input{
  width: 100%;
  border-radius: 50rem!important;
}