@import url(./color.css);

li:hover {
  background-color: var(--bluelightbook) !important;
  transition: all 0.5s ease;
}

a:hover {
  background-color: var(--bluelightbook) !important;
  transition: all 0.5s ease;
}

.btn-search {
  background-color: var(--bluelightbook) !important;
}

.btn-search:hover {
  background-color: var(--skylightbook) !important;
  transition: all 0.5s ease;
}

button:hover {
  background-color: var(--bluelightbook) !important;
  transition: all 0.5s ease;
}

@media (max-width: 991.98px) {
  .dropdown-menu {
    display: none !important;
  }
}
