@import url(./color.css);

.div-cadastro {
    height: 70vh;
}

.button-cadastro{
    background-color: var(--orangebook) !important;
    border: 2px solid black;
    color: black;
}

.button-cadastro:hover{
    background-color: var(--orangelightbook) !important;
    border: 2px solid darkslategray !important;
    color: darkslategray !important;
}

.cadastro .p-tabview-nav-container{
    display: none;
}