@import url(./color.css);

.container-cadastro {
  height: 90vh;
}

.div-cadastro {
  height: 70vh;
}

.div-cadastro .cadastro {
  height: 50vh;
}

.button-cadastro:hover {
  background-color: var(--orangelightbook) !important;
  transition: all 0.5s ease;
}

@media (max-width: 991.98px) {
  .container-cadastro {
    height: auto;
  }

  .div-cadastro {
    height: auto;
  }
}
