<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../templates/styles/styles_index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <title>Footer</title>
    </head>
    <body>
        <header class="header">
            <div class="overlay">
                <h1>UniBook</h1>
                <h3>De estudantes para estudantes ...</h3>
                <p>Um lugar onde você pode comprar livros usados em bom estado com uma ótimo preço, ou vender livros ótimos!</p>
            <br>
            <button>Saiba Mais</button>
            </div>
        </header>    
        <section id="featured-services" class="featured-services section-bg">
            <div class="container">
      
              <div class="row no-gutters">
                <div class="col-lg-4 col-md-6">
                  <div class="icon-box">
                    <div class="icon"><i class="bi bi-laptop"></i></div>
                    <h4 class="title"><a href="">Login</a></h4>
                    <p class="description">Caso você queira comprar ou vender algum produto, você irá precisar fazer o login, clique aqui para fazer o login!</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="icon-box">
                    <div class="icon"><i class="bi bi-briefcase"></i></div>
                    <h4 class="title"><a href="">Quem Somos?</a></h4>
                    <p class="description">Aqui você pode ver nossa história, nossos princípios ou até mesmo planos para o futuro
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="icon-box">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title"><a href="">Fale Conosco</a></h4>
                    <p class="description">Para mandar alguma mensagem, entre na página fale conosco e envie nos sua mensagem, iremos respondê-la o mais rápido possível, pois você é
                      especial para nós! 
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </body>
</html>