body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}

.degrade{
  background-image: linear-gradient(90deg, rgb(63, 82, 202) 0%, rgb(22, 43, 173) 50%, rgb(16, 29, 113) 100%);
}

.color{
  background-color: rgba(16,29,173,1);
}

.secondary-color{
  background-color: #FB8500;
}

.header-main {
  height: 50px;
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgba(22,43,173,1);
}

.logo {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.brand-wrap {
  text-decoration: none !important;
}

.icon-sm {
  width: 48px;
  height: 48px;
  line-height: 48px !important;
  font-size: 20px;
}

.search-form {
  border: 1px solid #ffffff !important;
}

.search-button {
  color: rgba(22,43,173,1);
  background-color: #ffffff;
  border-color: #ffffff;
}

.navbar-main {
  background-color: #fff;
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar-toggler {
  padding: 4px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.37rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.5rem 7px 0px;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.45rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.nav-link {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 0.4rem !important;
}

.vl {
  border-left: 1px solid #fff;
  height: 100%;
}

.fas {
  color: #fff;
}

.login {
  color: white;
}

.hover-nav:hover {
  background-color: #033b77 !important;
  transition: 5ms;
}

@media only screen and (max-width: 768px) {
  .hover-nav {
    display: block !important;
  }
}

/** Modal **/
